# Dependencies
**/node_modules/
supabase/.temp/

# Environment files
**/.env
**/.env.local
!**/.env.example

# Build and test output
frontend/build/
frontend/dist/
coverage/
*.log

# Operating system and editor files
.DS_Store
.idea/
.vscode/
